@page 
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR;
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.Shop.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Shop/Index.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts {
    <abp-script src="/js/flowership.js" />
    <abp-script src="/Pages/Shop/Index.js" />
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />
    <script>
        var ck = '@Model.Ck';
    </script>
}
<div class="container">
    
    <div class="row">
        @foreach (var product in Model.ItemsList)
        {
                <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box" style="padding-top: 2px; padding-left: 2px; padding-right: 2px; padding-left: 2px;" data-product-id="@product.allItems.Id">
                    <div class="product-imitation" style="padding-top: 0px; padding-bottom: 0px;">
                        <a href="/product/detail/@product.allItems.Id" class="text-decoration-none">
                            <img src="@product.allItems.IconUrl" alt="@product.allItems.Name" style="width: 100%; height: auto;">
                        </a>

                        </div>
                        <div class="product-desc" style="text-align:center">
                            <span class="product-price">
                            $@product.price.SellCost
                            </span>
                            @* <small class="text-muted">Category</small> *@
                            @* <a href="#" class="product-name"> Product</a> *@

                            <div class="product-name small m-t-xs">
                                @product.allItems.Name
                            </div>
                            <div class="m-t text-righ">
                                <hr />
                                <input type="number" id="quantityInput" value="1" min="1" hidden="hidden" />
                                <button class="btn btn-primary btn-rounded addToCartBtn" id="addcrti_@product.allItems.Id" data-itemid="@product.allItems.Id">Add To Cart</button>
                                <a href="/cart" class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="View Cart" data-original-title="View Cart"
                                   id="viewCart">
                                    <i class="fa fa-shopping-cart"></i>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
      
    
</div>
