@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR;
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.Signup.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Signup/Index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
}
@section scripts {    
    <abp-script src="/Pages/Signup/Index.js" />
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />

}
<div class="container">

    <div class="row">
        <div class="col-xl-8">

            <div class="card">
                <div class="card-body">
                     <form id="registrationForm">
                        <ol class="activity-checkout mb-0 px-4 mt-3">
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-user-plus text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Login Info</h5>
                                    <p class="text-muted text-truncate mb-4">Enter your login information to create account</p>
                                    <div class="mb-3">

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" id="abp-address-type" for="abp-address-type" hidden="hidden">Billing</label>
                                                        <label class="form-label" for="billing-name">Full Name<span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="fullName" placeholder="Enter fullname with 1 space" required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">                                                                                                                     
                                                        <label class="form-label" for="billing-name">User Name <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="userName" placeholder="Enter name" required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-email-address">Email Address<span class="text-danger">*</span></label>
                                                        <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                                   
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-phone">Phone<span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" id="phone" placeholder="Enter Phone no." required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-4 mb-lg-0">
                                                        <label class="form-label" for="password">Password<span class="text-danger">*</span></label>
                                                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-0">
                                                        <label class="form-label" for="confirmpassword">Confirm Password<span class="text-danger">*</span></label>
                                                        <input type="password" class="form-control" id="confirmpassword" placeholder="Enter Confirm Password" required>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-receipt text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Billing Info</h5>
                                    <p class="text-muted text-truncate mb-4">Enter your billing address</p>
                                    <div class="mb-3">
                                        
                                        <div>
                                            <div class="mb-3">
                                                    <label class="form-label" for="billingStreet">Address<span class="text-danger">*</span></label>
                                                    <textarea class="form-control" id="billingStreet" rows="3" placeholder="Enter full address"></textarea>
                                                <span class="error text-danger"></span>
                                            </div>

                                            <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label" for="billingCity">City <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="billingCity" placeholder="Enter City">
                                                            <span class="error text-danger"></span>
                                                        </div>
                                                    </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-4 mb-lg-0">
                                                            <label class="form-label" for="billingState">State <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="billingState" placeholder="Enter State">
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-0">
                                                            <label class="form-label" for="billingPostalCode">Zip / Postal code <span class="text-danger">*</span></label>
                                                            <input type="text" class="form-control" id="billingPostalCode" placeholder="Enter Postal code">
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label">Country <span class="text-danger">*</span></label>
                                                            <select class="form-control form-select" title="Country" id="billingCountryId">
                                                                <option value="0">Select Country</option>
                                                                @foreach (var country in @Model.countryList.Items)
                                                                {
                                                                    <option value="@country.Id">@country.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label">Currency <span class="text-danger">*</span></label>
                                                            <select class="form-control form-select" title="Currency" id="currencyId">
                                                                <option value="0">Select Currency</option>
                                                                @foreach (var currency in @Model.currencyList.Items)
                                                                {
                                                                    <option value="@currency.Id">@currency.CurrencyName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <span class="error text-danger"></span>
                                                    </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Is your shipping address different?</label>
                                                <div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="addressType" id="sameAddress" value="same" checked>
                                                        <label class="form-check-label" for="sameAddress">
                                                            No, it's the same
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="addressType" id="differentAddress" value="shipping">
                                                        <label class="form-check-label" for="differentAddress">
                                                            Yes, it's different
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="checkout-item" id="shippingInfo" style="display: none;">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-truck text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                    <p class="text-muted text-truncate mb-4">Enter your shipping address</p>
                                    <div class="mb-3">
                                        
                                        <div class="mb-3">
                                           
                                            <div>
                                                 
                                                
                                                    <div class="mb-3">
                                                        <label class="form-label" for="shippingStreet">Address<span class="text-danger">*</span></label>
                                                        <textarea class="form-control" id="shippingStreet" rows="3" placeholder="Enter full address"></textarea>
                                                        <span class="error text-danger"></span>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label" for="shippingCity">City <span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" id="shippingCity" placeholder="Enter City">
                                                                <span class="error text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label" for="shippingState">State <span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" id="shippingState" placeholder="Enter State">
                                                                <span class="error text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <div class="mb-0">
                                                                <label class="form-label" for="shippingPostalCode">Zip / Postal code <span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" id="shippingPostalCode" placeholder="Enter Postal code">
                                                                <span class="error text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label">Country <span class="text-danger">*</span></label>
                                                                <select class="form-control form-select" title="Country" id="shippingCountryId">
                                                                    <option value="0">Select Country</option>
                                                                    @foreach (var country in @Model.countryList.Items)
                                                                    {
                                                                        <option value="@country.Id">@country.Name</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <span class="error text-danger"></span>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="mb-4 mb-lg-0">
                                                                <label class="form-label">Currency <span class="text-danger">*</span></label>
                                                                <select class="form-control form-select" title="Currency" id="currencyId">
                                                                    <option value="0">Select Currency</option>
                                                                    @foreach (var currency in @Model.currencyList.Items)
                                                                    {
                                                                        <option value="@currency.Id">@currency.CurrencyName</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                            <span class="error text-danger"></span>
                                                        </div>
                                                        
                                                    </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    </form>
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <a href="ecommerce-products.html" class="btn btn-link text-muted">
                        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping
                    </a>
                </div> <!-- end col -->
                <div class="col">
                    <div class="text-end mt-2 mt-sm-0">
                        <a href="#" class="btn btn-success" id="registerUserBtn">
                            <i class="mdi mdi-cart-outline me-1"></i> Proceed
                        </a>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->

        </div>
        <div class="col-lg-4">
            <div class="card position-sticky top-0">
                <div class="p-3 bg-light bg-opacity-10">
                    <div class="p-3 bg-light mb-3">
                        <h5 class="font-size-16 mb-0">
                            Order Summary
                            <span class="float-end ms-2">#@Model.checkTotal.OrderNo</span>
                        </h5>
                    </div>

                    @foreach (var product in @Model.checkOutList)
                    {
                        <!-- Product Row -->
                        <div class="d-flex mb-2">
                            <div class="product-image" style="width: 110px;">
                                
                                <img src="@product.IconUrl" alt="@product.ItemName" alt="product-img" title="product-img" class="avatar-lg rounded">
                            </div>
                            <div class="product-desc flex-grow-1 ms-2">
                                <h7 class="font-size-12 text-truncate">
                                    <a href="#" class="text-dark">@product.ItemName </a>
                                </h7>
                                
                                <p class="text-muted mb-0 mt-1">$@product.UnitPrice x @product.Quantity</p>
                            </div>
                            <div class="product-price">
                                $@product.LineTotal
                            </div>
                        </div>
                    }
                    
                    <hr />
                    <div class="d-flex justify-content-between mb-1 small">
                        <span>Subtotal</span> <span> $@Model.checkTotal.SubTotal.ToString("0.00")</span>
                    </div>
                    <div class="d-flex justify-content-between mb-1 small">
                        <span>Tax</span> <span>$@Model.checkTotal.TaxAmount.ToString("0.00")</span>
                    </div>
                    <div class="d-flex justify-content-between mb-1 small">
                        <span>Shipping</span> <span>$@Model.checkTotal.Shipping.ToString("0.00")</span>
                    </div>

                    <div class="d-flex justify-content-between mb-1 small">
                        <span>Discount</span> <span class="text-danger">-$@Model.checkTotal.LineDiscount.ToString("0.00")</span>
                    </div>

                    <div class="d-flex justify-content-between mb-1 small">
                        <span>Coupon Code:<input type="text" class="form-control d-flex justify-content-between mb-1 small " id="coupon-code" placeholder="Coupon Code"></span>
                        
                    </div>
                    <button class="btn btn-primary btn-rounded" id="addToCartBtn">Update</button>
                    
                    <hr>
                    <div class="d-flex justify-content-between mb-4 small">
                        <span>TOTAL</span> <strong class="text-dark">$@Model.checkTotal.LineTotal.ToString("0.00")</strong>
                    </div>
                    
                    
                </div>



             


            </div>
        </div>
    </div>
    
    <!-- end row -->

</div>