@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
    <abp-script src="/js/flowership.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.9/signalr.min.js"></script>
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />
    
}

<div class="container">

    <abp-carousel indicators="true" controls="true">
        <abp-carousel-item src="/Pages/images/slider/sliderimages1.jpg" style="width: 100%; height: 700px;"></abp-carousel-item>
        <abp-carousel-item src="/Pages/images/slider/sliderimages2.jpg" style="width: 100%; height: 700px;"></abp-carousel-item>
        <abp-carousel-item src="/Pages/images/slider/sliderimages3.jpg" style="width: 100%; height: 700px;"></abp-carousel-item>
    </abp-carousel>

  
    @for (var i = 0; i < Model.CategoryList.Count; i += 6)
    {
        <div class="row">
            @for (var j = i; j < i + 6 && j < Model.CategoryList.Count; j++)
            {
                    
                var category = Model.CategoryList[j];
                var encodedCategoryTitle = System.Net.WebUtility.UrlEncode(category.Title);
                var url = $"/shop?categoryName={encodedCategoryTitle}";

                <div class="col-md-2" style="padding-top: 30px;">
                    <div class="ibox">
                        <div class="ibox-content product-box" style="padding-top: 2px; padding-left: 2px; padding-right: 2px; padding-left: 2px;">
                            <div class="product-imitation" style="padding-top: 0px; padding-bottom: 0px;">
                                <a href=@url class="text-decoration-none">
                                    <img src="@category.ImageURL" alt="@category.Title" style="width: 100%; height: auto;">
                                </a>

                            </div>
                            <div class="product-desc" style="text-align:center">
                                @* <span class="product-price">
                                    $@product.price.SellCost
                                </span> *@
                                <small class="text-muted">@category.Title</small>
                                <a href=@url class="product-name"> @category.Subtitle</a>

                                <div class="small m-t-xs">
                                    @category.Name
                                </div>
                                @* <div class="m-t text-righ">
                                    <hr />
                                    <a href="#" class="btn btn-xs btn-outline btn-primary">Add To Cart <i class="fa fa-cart-plus"></i> </a>
                                </div> *@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

   
 
