@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
    
}

<div class="container">
    <abp-carousel indicators="true" controls="true">
        <abp-carousel-item src="/Pages/images/images.jpeg"></abp-carousel-item>
        <abp-carousel-item src="/Pages/images/DALL·EValentine's Day theme for a flower shop website. It feature.png"></abp-carousel-item>
        <abp-carousel-item src="/Pages/images/images3.jpeg"></abp-carousel-item>
    </abp-carousel>

    <div class="container">
        @for (var i = 0; i < Model.CategoryList.Count; i += 3)
        {
            <div class="row">
                @for (var j = i; j < i + 3 && j < Model.CategoryList.Count; j++)
                {
                    var category = Model.CategoryList[j];
                    <div class="col-sm-4">
                        
                        <a href="@category.Route" class="text-decoration-none">
                            <div class="banner banner-left align-left valign-middle cursor-pointer banner-font-hover-zoom">
                                <div class="banner-content">
                                    <p class="banner-title color-white">@category.Title</p>
                                    <hr class="divider white horizontal-break">
                                    <h2 class="banner-subtitle color-white">@category.Subtitle</h2>
                                </div>
                                <img src="@category.ImageURL" alt="@category.Title">
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>

    @*<style>
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>*@
   

    @*<footer>
        <div style="text-align: center;">
            <h4>Contact Us</h4>
            <p>Email: contact@example.com</p>
            <p>Phone: +123-456-7890</p>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <h4>Company Name</h4>
            <p>1234 Company Street</p>
            <p>City, Country</p>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            &copy; 2023 Your Company Name. All Rights Reserved.
        </div>
    </footer>*@
 
</div>
