@page "/admin/order/detail/{orderno}"
@using Microsoft.AspNetCore.Mvc.Localization
@using CaricomeImpacsAssestment.FlowerShop.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR;
@using Volo.Abp.Users
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.Admin.Order.Detail.IndexModel
@inject IHtmlLocalizer<FlowerShopResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Admin/Customer/Update/Index.css" />
}
@section scripts
{
    <abp-script src="/Pages/Admin/Customer/Update/Index.js" />
}
<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #16123222</h2>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">@Model.OrderHeaderGroup.OrderDate</span>
                                <span class="me-3">#@Model.OrderHeaderGroup.OrderNo</span>
                                <span class="me-3">Visa -1234</span>
                                <span class="badge rounded-pill bg-info">@Model.OrderHeaderGroup.Status</span>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button>
                                <div class="dropdown">
                                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody>
                                @foreach (var product in Model.OrderDetailList)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <img src="@product.IconUrl" alt="" width="35" class="img-fluid">
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0"><a href="#" class="text-reset">@product.Name</a></h6>
                                                    <span class="small">Group:@product.Group</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@product.Quantity</td>
                                        <td class="text-end">$@product.UnitPrice</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">Subtotal</td>
                                    <td class="text-end">$@Model.OrderHeaderGroup.SubTotal</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Shipping</td>
                                    <td class="text-end">$@Model.OrderHeaderGroup.Shipping</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Discount (Code: @Model.OrderHeaderGroup.CouponCode)</td>
                                    <td class="text-danger text-end">-$@Model.OrderHeaderGroup.TotalDiscount</td>
                                </tr>
                                <tr class="fw-bold">
                                    <td colspan="2">TOTAL</td>
                                    <td class="text-end">$@Model.OrderHeaderGroup.TotalDue</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Payment Method</h3>
                                <p>
                                    Visa -1234 <br>
                                    Total: $@Model.OrderHeaderGroup.TotalDue <span class="badge bg-success rounded-pill">Draft</span>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Billing address</h3>
                                <address>
                                    <strong>@(Model.ContactList.FirstName +" "+ @Model.ContactList.LastName)</strong><br>
                                    @Model.SelectedBillingAddress.Street<br>
                                    @Model.SelectedBillingAddress.City, @Model.SelectedBillingAddress.State @Model.SelectedBillingAddress.PostalCode<br>
                                    <abbr title="Phone">P:</abbr> @Model.ContactList.PhoneNumber
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Customer Notes -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="h6">Customer Notes</h3>
                        <div class="dropdown">
                        <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- Shipping information -->
                    <div class="card-body">
                        <h3 class="h6">Shipping Information</h3>
                        <strong>FedEx</strong>
                        <span><a href="#" class="text-decoration-underline" target="_blank">FF1234567890</a> <i class="bi bi-box-arrow-up-right"></i> </span>
                        <hr>
                        <h3 class="h6">Address</h3>
                        <address>
                            <strong>@(Model.ContactList.FirstName + " " + @Model.ContactList.LastName)</strong><br>
                            @Model.SelectedShippingAddress.Street<br>
                            @Model.SelectedShippingAddress.City, @Model.SelectedShippingAddress.State @Model.SelectedShippingAddress.PostalCode<br>
                            <abbr title="Phone">P:</abbr> @Model.ContactList.PhoneNumber
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                            