@page
@model CaricomeImpacsAssestment.FlowerShop.Web.Pages.Cart.IndexModel
@section styles {
    <abp-style src="/Pages/Cart/Index.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
}
@section scripts {
    <abp-script src="/Pages/Cart/Index.js" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
   
   
}

<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>@Model.checkTotal.Quantity</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    @foreach (var product in @Model.checkOutList)
                    {
                        var ActualUnitPrice = product.UnitPrice / product.Quantity;
                        

                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                    <img src="@product.IconUrl" alt="@product.ItemName" style="width: 80px; height: 80px;">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="/product/detail/@product.ItemId" class="text-navy">
                                                        @product.ItemName
                                                    </a>
                                                </h3>
                                                <p class="small">
                                                    @product.ShortDescription
                                                </p>
                                                <dl class="small m-b-none">
                                                    <dt>More Detail</dt>
                                                    @* <dd>@product.LongDescription</dd> *@
                                                    @functions {
                                                    private int WordCount(string text)
                                                    {
                                                        return text.Split(new char[] { ' ', '\n', '\r', '\t' }, StringSplitOptions.RemoveEmptyEntries).Length;
                                                    }
                                                }

                                                <dl class="small m-b-none">                                                    
                                                    <dd>
                                                        @if (WordCount(product.LongDescription) > 10)
                                                            {
                                                                @* <a href="link-to-full-description">Click for more</a> *@
                                                                <span class="short-description">
                                                                    @product.LongDescription.Substring(0, 100) <!-- Adjust as needed to show a part of the description -->
                                                                    ... <a href="javascript:void(0)" onclick="showFullDescription()">Click for more</a>
                                                                </span>
                                                                <span class="full-description" style="display:none;">
                                                                    @product.LongDescription
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                @product.LongDescription
                                                            }
                                                        </dd>
                                                    </dl>
                                                </dl>

                                                <div class="m-t-sm">

                                                    <a href="#" id="removeItem_@product.DetailId" class="text-muted itemRemove"><i class="fa fa-trash"></i> Remove item</a>
                                                </div>
                                            </td>

                                            <td>
                                                $@ActualUnitPrice.ToString("0.00")
                                                <s class="small text-muted">$@ActualUnitPrice.ToString("0.00")</s>
                                            </td>
                                            <td width="100">
                                                <input type="text" id="@("quantity_" + product.DetailId)" class="form-control" value="@Convert.ToInt32(product.Quantity)">
                                                <button class="btn btn-outline-primary mt-2 btn-rounded update-cart" id="@("update_" + product.DetailId)">Update</button>

                                            </td>
                                            <td>
                                                <h4>
                                                    $@product.LineTotal.ToString("0.00")
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    }
                    <div class="ibox-content">
                        <button id="cart-checkout" class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>

                        <a href="/shop" id="continueshopping"  class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            $@Model.checkTotal.LineTotal.ToString("0.00")
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                <a href="#" class="btn btn-white btn-sm"> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Coupon</h5>
                    </div>
                    <div class="ibox-content text-center">
                       
                        <div class="d-flex justify-content-between mb-1 small">
                            <input type="text" class="form-control d-flex justify-content-between me-3" id="coupon-code" placeholder="Coupon Code">
                            <button class="btn btn-primary btn-rounded" id="addToCartBtn">Apply</button>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
